
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;900&display=swap');


* {
	box-sizing: border-box;
}

body {
	background: #2c3353;
	margin: 0;
    padding: 20px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: 'Outfit', sans-serif;
    font-size: 42px;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #f4bc25;
}

.sub-heading{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #d9d9d9;
}

.container{
    width: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #333c62;
	border-radius: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	margin: 20px;
	padding: 20px;
	text-align: center;
}
@media (min-width:780px) {
    .pokemon{
        min-width: 200px;
    }
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.indiviual-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}



.data{
    color: #f4bc25;
    margin-top: 5px;
}

.pokemon .img-container {
	text-align: center;
    width: 100%;
    
}

.pokemon .sprate-main{
    min-width: 100px;
    
}

.pokemon .img-container img {
	margin-top: -40px;
	max-width: 100%;
}

.pokemon .info {
	letter-spacing: 1px;
    font-family: 'Outfit',sans-serif;
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: 400;
    color: #ffffff;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
    font-family: 'Outfit',sans-serif;
    color: #f4bc25;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
    font-family: 'Outfit',sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    color: #ffffff;
} 